# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
**/dist/
**/dist-ssr/
**/.local

# Java / Maven
**/target/
**/build/
**/*.class
**/*.log
**/logs/
**/*.jar
**/*.war
**/*.ear

# IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr
*.sw?
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Misc
*.tmp
*.bak
